<h2 class="subtitle is-2">Contact me</h2>

<div class="field is-grouped mb-6">
    <p class="control">
        <p class="button has-background-info rounded">
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
            <span>
                <a href="https://github.com/cased27" target="_blank" class="has-text-white">Github</a>
            </span>
        </p> 
    </p>
    <p class="control">
        <p class="button has-background-info rounded">
            <span class="icon">
                <i class="fab fa-linkedin-in"></i>
            </span>
            <span>
                <a href="https://www.linkedin.com/in/casey-dasilva-65950b5a/" target="_blank" class="has-text-white">LinkedIn</a>
            </span>
        </p> 
    </p>
</div>



