<section class="hero is-info">
  <div class="hero-body has-text-centered">
    <h1 class="title is-1">
      Casey DaSilva
    </h1>
    <h3 class="subtitle">
      Self-taught coder. Check out my projects on
        <a href="https://github.com/cased27" target="_blank" class="has-text-dark">Github</a>
    </h3>
  </div>
</section>
