<h2 class="subtitle is-2">Projects</h2>

<div class="container is-flex">
  <div class="columns is-align-items-center">
    <div class="column is-one-third is-align-items-stretch">
      <div class="box">
        <h4 class="subtitle is-4">eCommerce</h4>
        <p>This was a particularly challenging and rewarding project with many real-life applications. During the project we
          carefully considered both the UX and UI design, creating functional login pages, username/password security and
          storage, and products and carts display.
        </p>
        <br>
        <a class="button is-primary is-normal" href="https://github.com/cased27/eComm" target="_blank">See Project &raquo;</a>
      </div>
    </div>
    <div class="column is-one-third is-align-items-stretch">
      <div class="box">
        <h4 class="subtitle is-4">Tetris!</h4>
        <p>A fun and educational journey into a favorite pasttime - Tetris! This project made me look at one of my favorite
          childhood games in a totally new light. This was one of my first major JS-intensive projects as well.
        </p>
        <br>
        <a class="button is-primary is-normal" href="https://cased27.github.io/Tetris/" target="_blank">See Project &raquo;</a>
      </div>
    </div>
    <div class="column is-one-third is-align-items-stretch">
      <div class="box">
        <h4 class="subtitle is-4">Recipes</h4>
        <p>Despite it's simple and basic appearance this was a project inspired by necessity. My boyfriend and I are often
          looking up recipes online but we find the ads, stories, pics, and overall lag-time to be annoying. So I created my
          own page with our most commonly used recipes so we could quickly find a recipe without those pesky ads, pics and
          stories.
        </p>
        <br>
        <a class="button is-primary is-normal" href="https://cased27.github.io/recipes/" target="_blank">See Project
          &raquo;</a>
      </div>
    </div>
  </div> 
</div>